#======================
# native python stuff
#======================

__pycache__/
*.py[cod]
*nja

#===================
#	dist/packages
#===================

.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg


# PyCharm
.idea

#===================
#	Lune specific
#===================

*.mp3
*.flac

resources.py
settings.json

# =========================
# Windows detritus
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

# =========================
# Emacs :D
# =========================

*~
*#